{% extends "base.html" %}
{% load static %}

{% block navbar %}
    <link href="{% static "MainApp/css/navbar.css" %}" rel="stylesheet">

    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light app-navbar" id="app-navbar">
        <a class="navbar-brand" href="/">Mapping Fear</a>
        <!-- <img src="{% static "MainApp/images/dice_icon_cube_thumb.png" %}" alt="brand"> -->
        <button
            class="navbar-toggler navbar-toggler-right d-md-none"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'project_intro' %}">Project Intro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'submit' %}">Guided Activity</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Explore Fears
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="{% url 'viz2' %}">Catalogue</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link" href="{% url 'viz1' %}">Transmutation</a>
                        <a class="nav-link" href="{% url 'viz1_gallery' %}">Gallery</a>
<!--                         <div class="dropdown-divider"></div>
                        <a class="nav-link" href="{% url 'word_cloud' %}">Tangled Web</a> -->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_workshop' %}">Workshop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>

                {% block navbar_links %}
                {% endblock %}
            </ul>

<!--             <form class="form-inline float-right d-none d-md-flex">
                <input class="form-control" type="text" data-action="grow" placeholder="Search">
            </form> -->
        </div>
    </nav>
{% endblock %}
