html, body {
    position: relative;
    height: 100vh;
    min-height: 100vh;
    overflow: auto;
}

.main-container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.container {
    overflow: auto;
}

.footer {
    width: 100vw;
    height: 60px;
    font-size: 1.0em;
    padding: 5px 15px;
    margin-top: auto;
}

main {
    height: 100%;
    overflow: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.full-height {
  height: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

html {
   font-size: 1rem;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 1.05rem;
  }
  h1 {
      font-size: 1.3rem;
  }
  h2 {
      font-size: 1.2rem;
  }
}

/*@media (min-width: 991px) {
    html {
    font-size: 1.2rem;
  }
  h1 {
      font-size: 1.5rem;
  }
  h2 {
      font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }
  h1 {
      font-size: 1.7rem;
  }
  h2 {
      font-size: 1.6rem;
  }
}
*/
