#main-container {
    max-width: 1200px;
}
#main-container .fear-image {
    max-width: 100%;
    padding: 5px;
}

.fear-item-row {
    background-color: white;
    padding: 0px;
}

.fear-image-div {
    background-color: #999;
    padding: 0px;
}

.text-image-div {
    background-color: #bbb;
    padding: 0px;
}
