.sr-pad>* {
    margin-right: .3em;
}

.socializer {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: .4em;
}
