/*#image-blend-div {
    font-size: 0px;
}
*/

#viz-container {
    padding-top: 30px;
    max-width: 1000px;
    margin: auto;
}

#viz-description-div {
    width: 100%;
}

#fear-image-div {
    width: 100%;
    margin: auto;
    height: 100%;
    max-width: 650px;
}

.fear-image {
    width: 100%;
    height: auto;
}

.blended {
    position: absolute;
    mix-blend-mode: difference;
}

.blended:last-child {
    position: relative;
}

.sub-image {
    width: 33.33%;
}

#blended-image-div {
    position: relative;
    background-color: black;
    height: auto;
}

#sub-images-div {
    margin-top: 20px;
    max-width: 650px;
    overflow: auto;
}

.sub-image-div {
    float: left;
    width: 33.33%;
    height: auto;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.6);

    overflow: scroll;
}

.sub-image-div:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.text {
    /*height: 100%;*/
    width: 100%;
    color: white;
    font-size: 15px;
    position: absolute;
    padding: 15px;

    display: flex;
    justify-content: safe center;
    /*align-items: safe center;*/

/*    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    text-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overlay::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.overlay {
    -ms-overflow-style: none;
}
