{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block custom_css %}
    <!-- Main.css -->
    <link href="{% static "MainApp/css/main.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- COLLECTION AREA -->
<div class="container" id="main-container">
    {% for fear_item in fear_items %}

    <div class="row fear-item-row mt-3">
        <div class="col-2 fear-image-div">
            {% thumbnail fear_item.image_1 "500x500" crop="center" as im %}
                <img src="{{ im.url }}" class="fear-image rounded float-left"">
            {% endthumbnail %}
        </div>
        <div class="col-2 fear-image-div">
            {% thumbnail fear_item.image_2 "500x500" crop="center" as im %}
                <img src="{{ im.url }}" class="fear-image rounded float-left"">
            {% endthumbnail %}
        </div>
        <div class="col-3">
            {{ fear_item.fear_text|linebreaks }}
        </div>
        <div class="col-3">
            {{ fear_item.fear_colors_text|linebreaks }}
        </div>
        <div class="col-2">
            <div><b>Email:</b>{{ fear_item.email }}</div>
            <div><b>Age:</b> {{ fear_item.age }}</div>
            <div><b>Country:</b> {{ fear_item.country }}</div>
            <div><b>Date created:</b> {{ fear_item.date_created }}</div>
            <button item_id={{fear_item.item_id}} class="delete-btn mt-2">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}


{% block custom_js %}
    <!-- Main.js -->
    <script src="{% static "MainApp/scripts/main.js" %}" %}"></script>
{% endblock %}

