{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block custom_css %}
    <!-- Main.css -->
    <link href="{% static "MainApp/css/main.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- COLLECTION AREA -->
<div class="container" id="main-container">
    {% for fear_item in fear_items %}

    <div class="row fear-item-row mt-3">
        <div class="row col-9">
            <div class="col-10 fear-image-div">
                {% for fear_image in fear_item.fearimage_set.all %}
                    {% thumbnail fear_image.image_file "500x500" crop="center" as im %}
                        <img src="{{ im.url }}" class="fear-image rounded float-left"">
                        <!-- <img class="fear-image" src="{{fear_image.image_file.url}}" class="rounded float-left" alt="..."> -->
                    {% endthumbnail %}

                {% endfor %}
            </div>
            <div class="col-2 text-image-div">
                {% thumbnail fear_item.text_file "500x500" crop="center" as im %}
                    <img src="{{ im.url }}" class="text-image rounded float-left"">
                {% endthumbnail %}
            </div>
        </div>
        <div class="row col-3">
            <div class="col-10">
                {{ fear_item.email }}
            </div>
            <div class="col-2">
                <button item_id={{fear_item.item_id}} class="delete-btn mt-2">Delete</button>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}


{% block custom_js %}
    <!-- Main.js -->
    <script src="{% static "MainApp/scripts/main.js" %}" %}"></script>
{% endblock %}

