{% extends "base_navbar.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block custom_css %}
    <!-- Main.css -->
    <link href="{% static "MainApp/css/viz1.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- COLLECTION AREA -->
<div class="row" id="viz-container">
    <div class="col-md-8 mb-3">
        <div id="fear-image-div">
            <div id="blended-image-div">
                <img id="blend-image-0" src="" class="fear-image blended image-0"/>
                <img id="blend-image-1" src="" class="fear-image blended image-1"/>
                <img id="blend-image-2" src="" class="fear-image blended image-2"/>
            </div>
            <div id="sub-images-div">
                <div class="sub-image-div">
                    <img class="fear-image image-0" src="" class="fear-image sub-image"/>
                    <div class="overlay">
                        <div id="image-0-text" class="text"></div>
                    </div>
                </div>
                <div class="sub-image-div">
                    <img class="fear-image image-1" src="" class="fear-image sub-image"/>
                    <div class="overlay">
                        <div id="image-1-text" class="text"></div>
                    </div>
                </div>
                <div class="sub-image-div">
                    <img class="fear-image image-2" src="" class="fear-image sub-image"/>
                    <div class="overlay">
                        <div id="image-2-text" class="text"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 pr-3" id="viz-description-div">
        <p>
            This shifting image is a morphing composite of fear drawings submitted by three different individuals. Three submissions are randomly selected from the pool of submissions, and superimposed over one another. As time goes by, these images are gradually replaced by drawings done by new individuals.
        </p>
        <p>
            The three composite images making up the animated composite of fears are shown directly below it. Hover over each image to view the corresponding description of the fears that lie behind each drawing.
        </p>
    </div>
</div>
{% endblock %}


{% block custom_js %}
    <!-- Main.js -->
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
    <script src="{% static "MainApp/scripts/viz1.js" %}" %}"></script>
{% endblock %}

