{% extends "base_navbar.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block custom_css %}
    <!-- Main.css -->
    <link href="{% static "MainApp/css/viz1_gallery.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}

<!-- Modal -->
<div class="modal fade" id="composite-large-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<!--       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Fear Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body" id="fear-description-div" v-if="modal_fear_item">
            <div id="description-image-div" class="blended-image-container">
                <img id="blend-image-lg-0" src="" class="fear-image blended image-0"/>
                <img id="blend-image-lg-1" src="" class="fear-image blended image-0"/>
                <img id="blend-image-lg-2" src="" class="fear-image blended image-0"/>
            </div>
            <!-- <h5 class="card-title">Hello</h5> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
<!--       <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>

<!-- COLLECTION AREA -->
<div id="fear-composite-div" class="grid">
    <div class="grid-sizer"></div>
    {% for fear_composite in fear_composites %}
        <div id="blended-image-div" class="grid-item blended-image-container">
            {% if fear_composite.image_idx_0 == 0 %}
                {% thumbnail fear_composite.fear_item_0.image_1 "600x600" crop="center" as im %}
                    <img style="opacity:{{fear_composite.opacity_0}};" src="{{ im.url }}" class="fear-image blended image-0" image_lg="{{ fear_composite.fear_item_0.image_1 }}"/>
                {% endthumbnail %}
            {% else %}
                {% thumbnail fear_composite.fear_item_0.image_2 "600x600" crop="center" as im %}
                    <img style="opacity:{{fear_composite.opacity_0}};" src="{{ im.url }}" class="fear-image blended image-0" image_lg="{{ fear_composite.fear_item_0.image_2 }}"/>
                {% endthumbnail %}
            {% endif %}

            {% if fear_composite.image_idx_1 == 0 %}
                {% thumbnail fear_composite.fear_item_1.image_1 "600x600" crop="center" as im %}
                    <img style="opacity:{{fear_composite.opacity_1}};" src="{{ im.url }}" class="fear-image blended image-1" image_lg="{{ fear_composite.fear_item_1.image_1 }}"/>
                {% endthumbnail %}
            {% else %}
                {% thumbnail fear_composite.fear_item_1.image_2 "600x600" crop="center" as im %}
                    <img style="opacity:{{fear_composite.opacity_1}};" src="{{ im.url }}" class="fear-image blended image-1" image_lg="{{ fear_composite.fear_item_1.image_2 }}"/>
                {% endthumbnail %}
            {% endif %}

            {% if fear_composite.image_idx_2 == 0 %}
                {% thumbnail fear_composite.fear_item_2.image_1 "600x600" crop="center" as im %}
                    <img style="opacity:{{fear_composite.opacity_2}};" src="{{ im.url }}" class="fear-image blended image-2" image_lg="{{ fear_composite.fear_item_2.image_1 }}"/>
                {% endthumbnail %}
            {% else %}
                {% thumbnail fear_composite.fear_item_2.image_2 "600x600" crop="center" as im %}
                    <img style="opacity:{{fear_composite.opacity_2}};" src="{{ im.url }}" class="fear-image blended image-2" image_lg="{{ fear_composite.fear_item_2.image_2 }}"/>
                {% endthumbnail %}
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}


{% block custom_js %}
    <!-- Main.js -->
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="{% static "MainApp/scripts/viz1_gallery.js" %}" %}"></script>
{% endblock %}

