{% extends "base_navbar.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block custom_css %}
    <!-- Main.css -->
    <link href="{% static "MainApp/css/viz2.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="fear-description-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<!--       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Fear Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body" id="fear-description-div" v-if="fear_item">
            <div id="description-image-div" v-if="fear_item.image_2">
                <img class="mt-0" v-bind:src="'/media/' + fear_item.image_1_tb" alt="Card image cap">
                <img class="mt-0" v-if="fear_item.image_2_tb" v-bind:src="'/media/' + fear_item.image_2_tb" alt="Card image cap">
            </div>
            <div id="description-image-div-single" v-if="!fear_item.image_2">
                <img class="mt-0" v-bind:src="'/media/' + fear_item.image_1_tb" alt="Card image cap">
            </div>

            <div id="text-description-div" class="p-3 mt-2" style="text-align: center;">
                <h6>What are you afraid of?</h6>
                <template v-for="line in fear_item.fear_text.split('\n')"><p class="card-text">[[line]]</p></template>
            </div>
            <div id="fear-description-div" class="p-3 mt-2" style="text-align: center;">
                <h6>What does your fear look like?</h6>
                <template v-for="line in fear_item.fear_colors_text.split('\n')"><p class="card-text">[[line]]</p></template>
            </div>
            <!-- <h5 class="card-title">Hello</h5> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
<!--       <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>

<!-- <div class="row" style="height: 100%;"> -->
    <!-- COLLECTION AREA -->
    <!-- <div id="fear-image-div" class="grid"> -->
        <!-- <div class="grid-sizer"></div> -->
<!-- <div id="fear-collection-div" class="col-xl-9 col-lg-9 col-md-8 col-sm-6 order-2 order-md-1 order-sm-1"> -->
<div id="fear-collection-div" class="">
    {% for fear_item in fear_items %}
        <div class="image_blend_div grid-item" id="{{fear_item.pk}}">
            {% if fear_item.image_2 %}
                <div class="image2">
                    {% thumbnail fear_item.image_2 "500x500" crop="center" format="JPEG" background="#FFFFFF" as im %}
                        <img src="{{ im.url }}" class="fear-image""/>
                    {% endthumbnail %}
                </div>
                <div class="blended_image">
                    {% thumbnail fear_item.image_1 "500x500" crop="center" format="JPEG" background="#FFFFFF" as im %}
                        <img src="{{ im.url }}" class="fear-image""/>
                    {% endthumbnail %}
                    {% thumbnail fear_item.image_2 "500x500" crop="center" format="JPEG" background="#FFFFFF" as im %}
                        <img src="{{ im.url }}" class="fear-image""/>
                    {% endthumbnail %}
                </div>
                <div class="image1">
                    {% thumbnail fear_item.image_1 "500x500" crop="center" format="JPEG" background="#FFFFFF" as im %}
                        <img src="{{ im.url }}" class="fear-image""/>
                    {% endthumbnail %}
                </div>
            {% else %}
                <div class="image2">
                    {% thumbnail fear_item.image_1 "500x500" crop="center" format="JPEG" background="#FFFFFF" as im %}
                        <img src="{{ im.url }}" class="fear-image flipped""/>
                    {% endthumbnail %}
                </div>
                <div class="blended_image">
                    {% thumbnail fear_item.image_1 "500x500" crop="center" format="JPEG" background="#FFFFFF" as im %}
                        <img src="{{ im.url }}" class="fear-image""/>
                    {% endthumbnail %}
                    {% thumbnail fear_item.image_1 "500x500" crop="center" format="JPEG" background="#FFFFFF" as im %}
                        <img src="{{ im.url }}" class="fear-image flipped""/>
                    {% endthumbnail %}
                </div>
                <div class="image1">
                    {% thumbnail fear_item.image_1 "500x500" crop="center" format="JPEG" background="#FFFFFF" as im %}
                        <img src="{{ im.url }}" class="fear-image""/>
                    {% endthumbnail %}
                </div>
            {% endif %}
            <div class="overlay">
                <div class="text">{{fear_item.fear_text|linebreaks}}</div>
            </div>
        </div>
    {% endfor %}
</div>


<!-- </div> -->

{% endblock %}


{% block custom_js %}
    <!-- Main.js -->
    <!-- <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
    <!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
    <script src="{% static "MainApp/scripts/viz2.js" %}" %}"></script>
{% endblock %}

